header .header-padding {
  margin-top: 20px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  header .container {
    max-width: 990px;
  }
}

header .main-header {
  padding-top: 40px;
}

@media (max-width: 991px) {
  header .main-header {
    display: none;
  }
}

@media (max-width: 414px) {
  header .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .row .navigation nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .row .navigation nav ul li {
  margin: 0px 20px;
}

header .row .navigation nav ul li a {
  text-decoration: none;
  color: #212529;
}

header .row .navigation nav ul li .btn-primary {
  color: #212529;
  background-color: #fbfcfd;
  border-color: #fbfcfd;
  margin-top: 0px;
  font-size: 14px;
  padding: 7px 15.75px;
}

header .row > * {
  width: auto;
}

.parent .main {
  background-color: #d2e9ff;
  height: 700px;
}

.parent .main .navbar-expand-lg .container {
  display: block !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .parent .main .navbar-expand-lg .container {
    max-width: 975px;
  }
}

@media (min-width: 992px) {
  .parent .main .navbar-expand-lg .container .navbar-collapse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

@media (min-width: 991px) {
  .parent .main .navbar-expand-lg .container .my-nav {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .parent .main main #banner .container {
    max-width: 625px;
  }
}

.parent .main main #banner .container .banner {
  height: 880px;
  text-align: center;
  position: relative;
  /* padding: 65px; */
  margin: 0px 65px;
  /* display: -webkit-box; */
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* display: flex; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .parent .main main #banner .container .banner {
    margin: 0px 0px;
  }
}

@media (max-width: 768px) {
  .parent .main main #banner .container .banner {
    margin: 0px 0px;
  }
}

@media (max-width: 414px) {
  .parent .main main #banner .container .banner {
    height: 680px;
  }
}

.parent .main main #banner .container .banner .heading {
  margin-top: 60px;
}

@media (max-width: 600px) {
  .parent .main main #banner .container .banner .heading {
    margin-top: 0;
  }
}

.parent .main main #banner .container .banner .heading h1 {
  font-size: 60px;
  text-transform: capitalize;
  color: #3b368c;
}

@media (max-width: 1200px) {
  .parent .main main #banner .container .banner .heading h1 {
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .parent .main main #banner .container .banner .heading h1 {
    font-size: 37px;
  }
}

@media (max-width: 600px) {
  .parent .main main #banner .container .banner .heading h1 {
    font-size: 28px;
  }
}

.parent .main main #banner .container .banner .para {
  margin: 20px 60px;
  line-height: 30px;
}

@media (max-width: 600px) {
  .parent .main main #banner .container .banner .para {
    margin: 20px 20px;
  }
}

.parent .main main #banner .container .banner .para p {
  font-size: 16px;
  margin: 30px 0px;
}

@media (max-width: 1200px) {
  .parent .main main #banner .container .banner .para p {
    font-size: 14px;
    margin: 22px 0px;
  }
}

.parent .main main #banner .container .banner .banner-btn {
  margin: 30px 18px;
}

.parent .main main #banner .container .banner .banner-btn .btn-primary {
  background-color: #7575da;
  border: none;
  padding: 13px 30px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .parent .main main #banner .container .banner .banner-btn .btn-primary {
    font-size: 14px;
    padding: 12px 23px;
  }
}

.parent .main main #banner .container .banner .banner-btn .btn-success {
  background-color: #fbfcfd;
  border: none;
  color: #3c4044;
  padding: 13px 30px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .parent .main main #banner .container .banner .banner-btn .btn-success {
    font-size: 14px;
    padding: 12px 23px;
  }
}

.parent .main main #banner .container .banner .image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300px;
  text-align: center;
}

.parent .main main #banner .container .banner .image img {
  width: 760px;
}

@media (max-width: 1200px) {
  .parent .main main #banner .container .banner .image img {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .parent .main main #banner .container .banner .image img {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .parent .main main #banner .container .banner .image img {
    width: 580px;
  }
}

@media (max-width: 600px) {
  .parent .main main #banner .container .banner .image img {
    width: 420px;
  }
}

@media (max-width: 414px) {
  .parent .main main #banner .container .banner .image img {
    width: 320px;
    margin-top: 100px;
  }
}

.parent .main main #rule .container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .parent .main main #rule .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .parent .main main #rule .container {
    width: 90%;
  }
}

.parent .main main #rule .container .sec-padding {
  padding: 80px 0px;
}

@media (max-width: 768px) {
  .parent .main main #rule .container .sec-padding {
    padding: 40px 0px;
  }
}

.parent .main main #rule .container .sec-padding .rule-heading h2 {
  font-size: 56px;
  text-transform: capitalize;
  color: #3b368c;
  margin-bottom: 1.5rem;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .parent .main main #rule .container .sec-padding .rule-heading h2 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .parent .main main #rule .container .sec-padding .rule-heading h2 {
    margin-top: 30px;
    font-size: 40px;
  }
}

.parent .main main #rule .container .sec-padding .rule-heading ul {
  list-style: none;
  padding: 10px 0px;
}

.parent .main main #rule .container .sec-padding .rule-heading ul li {
  padding: 8px 0px;
}

.parent .main main #rule .container .sec-padding .rule-heading ul li span {
  color: #7575da;
  font-size: 16px;
  margin-right: 14px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .parent .main main #rule .container .sec-padding .img img {
    width: 450px;
  }
}

@media (max-width: 991px) {
  .parent .main main #rule .container .sec-padding .img img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .parent .main main #rule .container .sec-padding .img {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .parent .main main #rule .container .sec-padding .rule-heading {
    text-align: center;
  }
}

.parent .main main #work-faster {
  background-image: url("https://demo.athemes.com/sp-saas/wp-content/uploads/sites/115/2020/09/4.6.png");
  background-color: #f6f8fd;
  background-size: cover;
}

.parent .main main #work-faster .container {
  width: 60%;
  margin: 0 auto;
}

.parent .main main #work-faster .container .sec-padding {
  padding: 115px 0px;
}

.parent .main main #work-faster .container .sec-padding .work-faster-content h2 {
  font-size: 36px;
  text-transform: capitalize;
  color: #3b368c;
  margin-bottom: 1.5rem;
}

.parent .main main #work-faster .container .sec-padding .work-faster-content button {
  background-color: #7575da;
  border: none;
  padding: 13px 30px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.parent .main main #work-faster .container .sec-padding .work-card .card {
  padding: 25px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebebeb;
  border-radius: 20px 20px 20px 20px;
}

.parent .main main #work-faster .container .sec-padding .work-card .content {
  margin-left: 22px;
}

.parent .main main #work-faster .container .sec-padding .work-card .content h4 {
  font-family: "Raleway", Sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #393689;
}

.parent .main main #work-faster .container .sec-padding .work-card .work-card-coloum1 {
  position: absolute;
  top: -190px;
  left: -90px;
}

.parent .main main #work-faster .container .sec-padding .work-card .work-card-coloum2 {
  margin: 30px 0px;
}

.parent .main main #work-faster .container .sec-padding .work-card .work-card-coloum3 {
  position: absolute;
  top: 250px;
  left: -90px;
}

.parent .main main #pricing .container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .parent .main main #pricing .container {
    max-width: 1170px;
  }
}

.parent .main main #pricing .container .sec-padding {
  padding: 80px 0px;
}

.parent .main main #pricing .container .sec-padding .heading h2 {
  color: #3b368c;
  font-size: 40px;
  margin-bottom: 35px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card {
  text-align: center;
  padding: 80px 10px;
}

@media (max-width: 768px) {
  .parent .main main #pricing .container .sec-padding .main-pricing-card .card {
    border-radius: 20px !important;
  }
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card h3 {
  color: #393689;
  font-family: "Poppins", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card h6 {
  color: #7575da;
  font-family: "Raleway", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card span {
  padding: 25px 0px 0px 0px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card ul {
  padding-top: 25px;
  list-style: none;
  padding-left: 0rem !important;
  line-height: 35px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card button {
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  fill: #ffffff;
  color: #ffffff;
  background-color: #7575da;
  border-radius: 5px 5px 5px 5px;
  padding: 12px;
  width: 150px;
  margin: 0 auto;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card1 {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card1 button {
  fill: #393689;
  color: #393689;
  background-color: #f9f9fd;
  border: 2px solid #7575da;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card2 {
  border-radius: 0px;
  background-color: #fff7f1;
  position: relative;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card2 .elementor-button-icon {
  width: 73px;
  background-color: #ff8a11;
  padding: 12px 21px;
  color: white;
  position: absolute;
  top: 0px;
  /* right: 44%; */
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card3 {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}

.parent .main main #pricing .container .sec-padding .main-pricing-card .card3 button {
  fill: #393689;
  color: #393689;
  background-color: #f9f9fd;
  border: 2px solid #7575da;
}

.parent .main main #free-trial {
  background-image: url("https://demo.athemes.com/sp-saas/wp-content/uploads/sites/115/2020/09/4.8.png");
  background-color: #fff7f1;
}

.parent .main main #free-trial .container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .parent .main main #free-trial .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .parent .main main #free-trial .container {
    width: 100%;
    max-width: 700px;
  }
}

.parent .main main #free-trial .container .sec-padding {
  padding: 80px 0px;
}

.parent .main main #free-trial .container .sec-padding .heading h2 {
  font-size: 50px;
  text-transform: capitalize;
  color: #3b368c;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .parent .main main #free-trial .container .sec-padding .heading h2 {
    font-size: 35px;
  }
}

.parent .main main #free-trial .container .sec-padding .heading p {
  margin: 35px 0px;
}

.parent .main main #free-trial .container .sec-padding .trial-card {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .parent .main main #free-trial .container .sec-padding .trial-card {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.parent .main main #free-trial .container .sec-padding .apple-card {
  background-color: #7575da;
  padding: 8px 30px;
  border-radius: 14px;
}

.parent .main main #free-trial .container .sec-padding .apple-card .content {
  color: #fafafa;
}

@media (min-width: 768px) and (max-width: 991px) {
  .parent .main main #free-trial .container .sec-padding .apple-card .content {
    font-size: 14px;
  }
}

.parent .main main #free-trial .container .sec-padding .apple-card .content p {
  margin: 12px 0px 3px 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .parent .main main #free-trial .container .sec-padding .apple-card {
    padding: 8px 18px;
  }
}

@media (max-width: 768px) {
  .parent .main main #free-trial .container .sec-padding .apple-card {
    text-align: center;
  }
}

.parent .main main #free-trial .container .sec-padding .google-play-card {
  background-color: #ffffff;
  padding: 8px 30px;
  border-radius: 14px;
}

.parent .main main #free-trial .container .sec-padding .google-play-card .content {
  color: #3b368c;
}

@media (min-width: 768px) and (max-width: 991px) {
  .parent .main main #free-trial .container .sec-padding .google-play-card .content {
    font-size: 14px;
  }
}

.parent .main main #free-trial .container .sec-padding .google-play-card .content p {
  margin: 12px 0px 3px 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .parent .main main #free-trial .container .sec-padding .google-play-card {
    padding: 8px 18px;
  }
}

@media (max-width: 768px) {
  .parent .main main #free-trial .container .sec-padding .google-play-card {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 991) {
  .parent .main main #testimonial .container {
    max-width: 775px !important;
  }
}

.parent .main main #testimonial .container .sec-padding {
  padding: 120px 0px;
}

.parent .main main #testimonial .container .sec-padding .heading h6 {
  color: #393689;
  font-family: "Raleway", Sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card {
  margin: 0px 0px 0px 15px;
  padding: 30px 70px 30px 70px;
  border-radius: 40px;
  -webkit-box-shadow: -1px 0px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 0px 22px -8px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .parent .main main #testimonial .container .sec-padding .testimonial-card {
    margin: 5px 0px 50px 15px;
  }
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .logo {
  text-align: center;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .logo span {
  color: #7575da;
  border-color: #7575da;
  font-size: 35px;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .para p {
  line-height: 30px;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .client-logo span img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .client-logo span h6 {
  color: #393689;
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.parent .main main #testimonial .container .sec-padding .testimonial-card .client-logo span p {
  font-size: 14px;
}

.parent .main main footer {
  background-color: #f6f8fd;
}

@media (min-width: 768px) and (max-width: 991px) {
  .parent .main main footer .container {
    max-width: 790px;
  }
}

.parent .main main footer .container .sec-padding {
  padding: 80px 0px;
}

@media (max-width: 768px) {
  .parent .main main footer .container .sec-padding {
    padding: 40px 0px;
  }
}

.parent .main main footer .container .sec-padding .footer-main .footer-logo {
  padding-bottom: 22px;
}

.parent .main main footer .container .sec-padding .footer-main .content {
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 16px;
}

.parent .main main footer .container .sec-padding .footer-main h2 {
  color: #393689;
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #393689;
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

.parent .main main footer .container .sec-padding .footer-main .icon span {
  background-color: #f6f8fd;
  --icon-padding: 0.7em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(42, 38, 56, 0.21);
  padding: 11px;
  border-radius: 50%;
}

.parent .main main footer .container .sec-padding .footer-main .icon span a {
  color: #2a2638;
}

.parent .main main footer .container .sec-padding .footer-main .icon span.facebook {
  padding: 11px 16px;
}

.parent .main main footer .container .sec-padding .footer-main .company-content ul {
  list-style: none;
  padding: inherit;
}

.parent .main main footer .container .sec-padding .footer-main .company-content ul li {
  padding-bottom: 10px;
  color: 2a2638;
  font-size: 14px;
  font-family: "Raleway", Sans-serif;
}

.parent .main main footer .container .sec-padding .footer-main .product-content ul {
  list-style: none;
  padding: inherit;
}

.parent .main main footer .container .sec-padding .footer-main .product-content ul li {
  padding-bottom: 10px;
  color: 2a2638;
  font-size: 14px;
  font-family: "Raleway", Sans-serif;
}

.parent .main main footer .container .sec-padding .footer-main .contact-content .content-span {
  padding-left: 16px;
  font-size: 15px;
}

@media (max-width: 991px) {
  .parent .main main footer .container .sec-padding .footer-main .footer-margin {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .parent .main main footer .container .sec-padding .footer-main .footer-tex-center {
    text-align: center;
  }
}

.parent .main main footer .lower-footer {
  padding: 24px;
  background-color: #111115;
}

.parent .main main footer .lower-footer .footer-para {
  color: #ffffff;
  font-size: 18px;
}

.parent .main main footer .lower-footer .footer-para a {
  text-decoration: none;
  color: #ffffff;
}

#solution .container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #solution .container {
    width: 90%;
  }
}

#solution .container .sec-padding {
  padding: 90px 0px;
}

@media (max-width: 768px) {
  #solution .container .sec-padding {
    padding: 40px 0px;
  }
}

#solution .heading h2 {
  color: #3b368c;
  font-size: 40px;
  margin-bottom: 35px;
}

#solution .heading p {
  color: #41464b;
}

#solution .main-solution {
  margin-top: 65px;
}

@media (min-width: 1200px) {
  #solution .main-solution .solution-row-margin {
    margin-top: 3rem !important;
  }
}

@media (max-width: 768px) {
  #solution .main-solution .icon-col, #solution .main-solution .icon-col-content {
    text-align: center;
  }
}

#solution .main-solution .icon-content h4 {
  text-transform: capitalize;
  color: #3b368c;
  font-size: 28px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */