header {
    .header-padding{
        margin-top: 20px;
    }
    .container{
        @media (min-width:991px) and (max-width:1200px){
            max-width: 990px;
        }
    }
  .main-header {
    padding-top: 40px;
    @media (max-width:991px){
        display: none;
    }
  
  }
  .row {
    @media  (max-width:414px){
     
        justify-content: space-between
    }
    .navigation {

      @media  (max-width:991px){
     
        justify-content: flex-end;
    }
    @media  (max-width:576px){
     
      justify-content: center;
      margin-top: 25px;
  }
      nav {
        ul {
          list-style: none;
          display: flex;
         align-items: inherit;          

          li {
            margin: 0px 20px;
         
            .btn-primary {
              color: #212529;
              background-color: #fbfcfd;
              border-color: #fbfcfd;
              margin-top: 0px;
              font-size: 14px;
              padding: 7px 15.75px;
              a {
                text-decoration: none;
                color: #212529;
              }
              &:hover{
                color: white;
                border: none;
                background-color: #7575da;
                transition: .5s;

                
                  a{
                    color: white;
                    }
          
  
                }
              }
            
            }
          }
        }
      }
    }
  }
 

