$small-phone: 300px;
$medium-phone: 414px;
$large-phone: 600px;
$tablet: 768px;
$large-tablet: 991px;
$desktop: 1200px;

footer {
  a {
    text-decoration: none;
  }
}
.parent {
  .main {
// ===========================top-to-bottom-btn===========================
    #button {
      display: inline-block;
      background-color: #3b368c;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      transition: background-color .3s, 
        opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;

     text-decoration: none;
    }
    #button::after {
      content: "\f077";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 2em;
      line-height: 50px;
      color: #fff;
    }
    #button:hover {
      cursor: pointer;
      background-color: #111115;
    }
    #button:active {
      background-color: #111115;
    }
    #button.show {
      opacity: 1;
      visibility: visible;
    }
    

    .navbar-expand-lg {
      // display: block !important;
      // @media (min-width: 992px) and (max-width: 1200px) {
      //   max-width: 975px;
      // }
      .navbar-collapse {
        @media (min-width: 991px) {
          flex-flow: row-reverse;
          justify-content: space-evenly;
        }
        @media (max-width: 992px) {
          flex-flow: row-reverse;
        }
      }
      .my-nav {
        @media (min-width: 991px) {
          display: none !important;
        }
      }
    }
    background-color: #d2e9ff;
    height: 700px;
    // border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
    main {
      #banner {
        .container {
          @media (max-width: $tablet) {
            max-width: 625px;
          }
          .banner {
            height: 880px;
            text-align: center;
            position: relative;
            /* padding: 65px; */
            margin: 0px 65px;
            /* display: -webkit-box; */
            display: -ms-flexbox;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            /* display: flex; */
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            @media (max-width: $large-tablet) {
              margin: 0px 0px;
            }
            @media (max-width: $tablet) {
              margin: 0px 0px;
            }
            @media (max-width: $medium-phone) {
              height: 680px;
            }

            .heading {
              margin-top: 60px;
              @media (max-width: $large-phone) {
                margin-top: 50px;
              }

              h1 {
                font-size: 60px;
                text-transform: capitalize;
                color: #3b368c;
                @media (max-width: $desktop) {
                  font-size: 50px;
                }
                @media (max-width: $large-tablet) {
                  font-size: 37px;
                }
                @media (max-width: $large-phone) {
                  font-size: 28px;
                }
              }
            }

            .para {
              margin: 20px 60px;
              line-height: 30px;
              @media (max-width: $large-phone) {
                margin: 20px 20px;
              }
              p {
                font-size: 16px;
                margin: 30px 0px;

                @media (max-width: $desktop) {
                  font-size: 14px;
                  margin: 22px 0px;
                }
              }
            }
            .banner-btn {
              margin: 30px 18px;
             

              .btn-primary {
                background-color: #7575da;
                border: none;
                padding: 13px 30px;
                border-radius: 10px 10px 10px 10px;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                a{
                  text-decoration: none;
                  color: white;
                }

                &:hover {
                  color: #212529;
                  background-color: #fbfcfd;
                  transition: 0.5s;
                  a{
                    text-decoration: none;
                    color: #212529;
                  }
                }
                @media (max-width: $large-tablet) {
                  font-size: 14px;
                  padding: 12px 23px;
                }
              }
              .btn-success {
                background-color: #fbfcfd;
                border: none;
                color: #3c4044;
                padding: 13px 30px;
                border-radius: 10px 10px 10px 10px;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                a{
                  text-decoration: none;
                  color: #3c4044;
                }
                &:hover {
                  color: #ffffff;
                  background-color: #7575da;
                  transition: 0.5s;
                  a{
                    
                    color: #ffffff;
                  }
                }
                @media (max-width: $large-tablet) {
                  font-size: 14px;
                  padding: 12px 23px;
                }
              }
            }
            .image {
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 300px;
              text-align: center;
              img {
                width: 760px;
                @media (max-width: $desktop) {
                  width: 680px;
                }
                @media (max-width: $large-tablet) {
                  width: 680px;
                }
                @media (max-width: $tablet) {
                  width: 580px;
                }

                @media (max-width: $large-phone) {
                  width: 420px;
                }
                @media (max-width: $medium-phone) {
                  width: 320px;
                  margin-top: 100px;
                }
              }
            }
          }
        }
      }

      #rule {
        .container {
          @media (min-width: 1200px) and (max-width: 1400px) {
            width: 90%;
          }
          @media (max-width: 1200px) {
            width: 90%;
          }
          width: 80%;
          margin: 0 auto;
          .sec-padding {
            padding: 80px 0px;
            @media (max-width: 768px) {
              padding: 40px 0px;
            }
            .rule-heading {
              h2 {
                font-size: 56px;
                text-transform: capitalize;
                color: #3b368c;
                margin-bottom: 1.5rem;
                @media (min-width: 991px) and (max-width: 1200px) {
                  font-size: 40px;
                }
                @media (max-width: 991px) {
                  margin-top: 30px;
                  font-size: 40px;
                }
              }
              ul {
                list-style: none;
                padding: 10px 0px;

                li {
                  padding: 8px 0px;
                  span {
                    color: #7575da;
                    font-size: 16px;
                    margin-right: 14px;
                  }
                }
              }
            }

            .img {
              img {
                @media (min-width: 991px) and (max-width: 1200px) {
                  width: 450px;
                }

                @media (max-width: 991px) {
                  width: 100%;
                }
              }
              @media (max-width: 991px) {
                text-align: center;
                width: 100%;
              }
            }
            .rule-heading {
              @media (max-width: 991px) {
                text-align: center;
              }
            }
          }
        }
      }

      #work-faster {
        background-image: url("https://demo.athemes.com/sp-saas/wp-content/uploads/sites/115/2020/09/4.6.png");
        background-color: #f6f8fd;
        background-size: cover;

        @media (max-width: 768px) {
          height: 1220px;
        }

        .container {
          @media (min-width: 1200px) {
            width: 60%;
          }
          @media (min-width: 991px) and (max-width: 1200px) {
            width: 80%;
          }

          width: 100%;
          margin: 0 auto;

          .sec-padding {
            padding: 115px 0px;

            .work-faster-content {
              h2 {
                font-size: 36px;
                text-transform: capitalize;
                color: #3b368c;
                margin-bottom: 1.5rem;
                @media (max-width: 768px) {
                  font-size: 40px;
                }
                @media (max-width: 414px) {
                  font-size: 30px;
                }
              }
              button {
                background-color: #7575da;
                border: none;
                padding: 13px 30px;
                border-radius: 10px 10px 10px 10px;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                &:hover{
                  color: #3b368c;
                  border: none;
                  background-color: #fbfcfd;
                  transition: .5s;
                }
              }
            }

            .work-card {
              .card {
                padding: 25px;
                background-color: #ffffff;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #ebebeb;
                border-radius: 20px 20px 20px 20px;
                .img {
                  img {
                    @media (min-width: 991px) and (max-width: 1200px) {
                      width: 76px;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                      width: 65px;
                      margin-top: 16px;
                    }
                  }
                }

                @media (min-width: 991px) and (max-width: 1200px) {
                  padding: 18px;
                }
              }
              .content {
                margin-left: 22px;
                h4 {
                  font-family: "Raleway", Sans-serif;
                  font-size: 22px;
                  font-weight: 700;
                  color: #393689;
                  @media (min-width: 991px) and (max-width: 1200px) {
                    font-size: 19px;
                  }
                }
                p {
                  @media (min-width: 991px) and (max-width: 1200px) {
                    font-size: 14px;
                  }
                }
              }
              .work-card-coloum1 {
                position: absolute;
                top: -190px;
                left: -90px;
              }
              .work-card-coloum2 {
                margin: 30px 0px;
              }
              .work-card-coloum3 {
                position: absolute;
                top: 250px;
                left: -90px;
              }
            }
            .work-faster-row {
              @media (max-width: 768px) {
                position: relative;
                justify-content: center;
              }

              .work-faster-col-content {
                @media (max-width: 768px) {
                  margin-bottom: 50px;
                  text-align: center;
                }
              }
              .work-faster-column {
                @media (max-width: 768px) {
                  position: absolute;
                  bottom: -524px;
                  text-align: center;
                }

                .work-card-coloum1 {
                  @media (max-width: 768px) {
                    position: absolute;
                    top: -230px;
                    left: 0;
                  }
                }
                .work-card-coloum2 {
                  @media (max-width: 768px) {
                    margin: 40px 0px;
                  }
                }

                .work-card-coloum3 {
                  @media (max-width: 768px) {
                    position: absolute;
                    top: 320px;
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }

      #pricing {
        .container {
          @media (max-width: 991px) {
            max-width: 1170px;
          }
          width: 100%;
          margin: 0 auto;
          .sec-padding {
            padding: 80px 0px;

            .heading {
              h2 {
                color: #3b368c;
                font-size: 40px;
                margin-bottom: 35px;
              }
            }

            .main-pricing-card {
              .card {
                text-align: center;
                padding: 80px 10px;
                @media (max-width: 768px) {
                  border-radius: 20px !important;
                }

                h3 {
                  color: #393689;
                  font-family: "Poppins", Sans-serif;
                  font-size: 65px;
                  font-weight: 600;
                }
                h6 {
                  color: #7575da;
                  font-family: "Raleway", Sans-serif;
                  font-size: 22px;
                  font-weight: 500;
                }
                span {
                  padding: 25px 0px 0px 0px;
                }
                ul {
                  padding-top: 25px;
                  list-style: none;
                  padding-left: 0rem !important;
                  line-height: 35px;
                }

                button {
                  font-family: "Raleway", Sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  text-align: center;
                  fill: #ffffff;
                  color: #ffffff;
                  background-color: #7575da;
                  border-radius: 5px 5px 5px 5px;
                  padding: 12px;
                  width: 150px;
                  margin: 0 auto;

                  &:hover{
                    color: #3b368c;
                    border: none;
                    background-color: #fbfcfd;
                    transition: .5s;
                    border: 2px solid #7575da;
                  }

                  
                }
              }
              .card1 {
                border-top-right-radius: 0px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 0px;
                button {
                  fill: #393689;
                  color: #393689;
                  background-color: #f9f9fd;
                  border: 2px solid #7575da;
                  &:hover{
                    color: #3b368c;
                    background-color: #7575da;
                    transition: .5s;
                    border: 2px solid #f9f9fd;
                    color:#f9f9fd ;
                  }
                }
              }
              .card2 {
                border-radius: 0px;
                background-color: #fff7f1;
                position: relative;
                .elementor-button-icon {
                  width: 73px;
                  background-color: #ff8a11;
                  padding: 12px 21px;
                  color: white;
                  position: absolute;
                  top: 0px;
                  /* right: 44%; */
                  left: 50%;
                  -webkit-transform: translate(-50%, 0%);
                  transform: translate(-50%, 0%);
                  border-bottom-left-radius: 12px;
                  border-bottom-right-radius: 12px;

                  &:hover{

                  }
                }
              }
              .card3 {
                border-top-right-radius: 10px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 10px;

                button {
                  fill: #393689;
                  color: #393689;
                  background-color: #f9f9fd;
                  border: 2px solid #7575da;

                  &:hover{
                    color: #3b368c;
                    background-color: #7575da;
                    transition: .5s;
                    border: 2px solid #f9f9fd;
                    color:#f9f9fd ;
                  }
                }
              }
            }
          }
        }
      }

      #free-trial {
        background-image: url("https://demo.athemes.com/sp-saas/wp-content/uploads/sites/115/2020/09/4.8.png");
        background-color: #fff7f1;

        .container {
          @media (max-width: 1200px) {
            width: 90%;
          }
          @media (max-width: 768px) {
            width: 100%;
            max-width: 700px;
          }
          width: 80%;
          margin: 0 auto;
          .sec-padding {
            padding: 80px 0px;

            .heading {
              h2 {
                font-size: 50px;
                text-transform: capitalize;
                color: #3b368c;
                font-weight: 700;
                margin-bottom: 1.5rem;
                @media (max-width: 768px) {
                  font-size: 35px;
                }
              }
              p {
                margin: 35px 0px;
              }
            }

            .trial-card {
              width: 90%;
              margin: 0 auto;

              @media (max-width: 991px) {
                justify-content: space-around;
              }
            }
            .apple-card {
              background-color: #7575da;
              padding: 8px 30px;
              border-radius: 14px;
              cursor: pointer;  
              .content {
                color: #fafafa;
                @media (min-width: 768px) and (max-width: 991px) {
                  font-size: 14px;
                }
                p {
                  margin: 12px 0px 3px 0px;
                }
              }
              @media (min-width: 768px) and (max-width: 991px) {
                padding: 8px 18px;
              }
              @media (max-width: 768px) {
                text-align: center;
              }
            }
            .google-play-card {
              background-color: #ffffff;
              padding: 8px 30px;
              border-radius: 14px;
              cursor: pointer;  

              .content {
                color: #3b368c;
                @media (min-width: 768px) and (max-width: 991px) {
                  font-size: 14px;
                }
                p {
                  margin: 12px 0px 3px 0px;
                }
              }
              @media (min-width: 768px) and (max-width: 991px) {
                padding: 8px 18px;
              }
              @media (max-width: 768px) {
                text-align: center;
                margin-top: 20px;
              }
            }
          }
        }
      }

      #testimonial {
        .container {
          @media (max-width: 991) {
            max-width: 775px !important;
          }
          .sec-padding {
            padding: 120px 0px;

            .heading {
              h6 {
                color: #393689;
                font-family: "Raleway", Sans-serif;
                font-size: 26px;
                font-weight: 500;
              }
            }
       .testimonial-slider{
         margin: 100px 0px;
       }

         /* Slider */
.slick-slide {
	margin: 0px 20px;
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	img {
		width: 100%;
		display: block;
	}
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-track {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
[dir='rtl'] {
	.slick-slide {
		float: right;
	}
}
.slick-slide.slick-loading {
	img {
		display: none;
	}
}
.slick-slide.dragging {
	img {
		pointer-events: none;
	}
}
.slick-initialized {
	.slick-slide {
		display: block;
	}
}
.slick-vertical {
	.slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}



            

            .testimonial-card {
              margin: 0px 0px 0px 15px;
              padding: 30px 70px 30px 70px;
              border-radius: 40px;
              box-shadow: -1px 0px 22px -8px rgba(0, 0, 0, 0.75);

              @media (max-width: 768px) {
                margin: 5px 0px 50px 15px;
              }

              .logo {
                text-align: center;
                span {
                  color: #7575da;
                  border-color: #7575da;
                  font-size: 35px;
                }
              }

              .para {
                p {
                  line-height: 30px;
                }
              }

              .client-logo {
                span {
                  img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-bottom: 25px;
                  }
                  h6 {
                    color: #393689;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0;
                  }
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }

      footer {
        background-color: #f6f8fd;

        .container {
          @media (min-width: 768px) and (max-width: 991px) {
            max-width: 790px;
          }
          .sec-padding {
            padding: 80px 0px;
            @media (max-width: 768px) {
              padding: 40px 0px;
            }

            .footer-main {
              .footer-logo {
                padding-bottom: 22px;
              }
              .content {
                font-size: 18px;
                line-height: 36px;
                padding-bottom: 16px;
              }
              h2 {
                color: #393689;
                font-family: "Raleway", Sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: #393689;
                font-family: "Raleway", Sans-serif;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 50px;
              }
              .icon {
                span {
                  background-color: #f6f8fd;
                  --icon-padding: 0.7em;
                  border-style: solid;
                  border-width: 1px 1px 1px 1px;
                  border-color: rgba(42, 38, 56, 0.21);
                  padding: 11px;
                  border-radius: 50%;

                  a {
                    color: #2a2638;
                  }
                }
                span.facebook {
                  padding: 11px 16px;
                }
              }
              .company-content {
                ul {
                  list-style: none;
                  padding: inherit;
                  li {
                    padding-bottom: 10px;
                    color: 2a2638;

                    font-size: 14px;
                    font-family: "Raleway", Sans-serif;

                    a {
                      text-decoration: none;
                      color: #111115;
                    }
                  }
                }
              }
              .product-content {
                ul {
                  list-style: none;
                  padding: inherit;
                  li {
                    padding-bottom: 10px;
                    color: 2a2638;

                    font-size: 14px;
                    font-family: "Raleway", Sans-serif;

                    a {
                      text-decoration: none;
                      color: #111115;
                    }
                  }
                }
              }

              .contact-content {
                p {
                  span {
                    a {
                      text-decoration: none;
                      color: #111115;
                    }
                  }
                }
                .content-span {
                  padding-left: 16px;
                  font-size: 15px;
                }
              }
              .footer-margin {
                @media (max-width: 991px) {
                  margin-bottom: 50px;
                }
              }
              .footer-tex-center {
                @media (max-width: 768px) {
                  text-align: center;
                }
              }
            }
          }
        }

        .lower-footer {
          padding: 24px;
          background-color: #111115;
          .footer-para {
            color: #ffffff;
            font-size: 18px;
            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
