#solution {
  .container{
    @media (min-width: 1200px) and (max-width:1400px){
      width: 90%;
      }
    width: 80%;
    margin: 0 auto;
    .sec-padding{
        padding: 90px 0px;
    }
}
  .heading {
    h2 {
      color: #3b368c;
      font-size: 40px;
      margin-bottom: 35px;
    }
    p {
      color: #41464b;
    }
    
  }
  .main-solution {
    margin-top: 65px;
    .solution-row-margin{
       @media (min-width:1200px) {
        margin-top: 3rem!important;
       }
    }
    @media (max-width:768px) {
      .icon-col,.icon-col-content{
        text-align: center;
      }
     }

    .icon-content {
        h4{
            text-transform: capitalize;
            color: #3b368c;
            font-size: 28px;
            font-weight: 500;
        }
    
    }
  }
}
